*.ncb
*.suo
*.obj
*.htm

tmp/
lib/
Release/
Long_Struct_Debug/
Long_Struct_Release/

!AudioDll/lib/
!CaLua/lib/
!CaLua/Lua/lib/
!icu/lib/
!IGameSDK/lib/
!Ipss/lib/
!MaxSDK/lib/
!SDL-1.2.7/lib/

.vscode
